body {
	margin: 0;
	padding:0;
}

html {
	margin:0;
	margin-top: 0;
	padding:0;
}

#header {
	background-color: #777777;
	margin:0;
	width: 100vw;
	padding:0;
}

#top-name {
	padding-top: 1vh;
	padding-bottom:1vh;
	margin:0;
}

.ui-button {

	background-color:#AAF;
	font-size: 15px;
	margin-top:3vh;
	border-color: #00E;
	border-width: 2vh;
	border-collapse: collapse;

}

#red-ui-button {
	background-color: #F66;
	border-color: #E11;
}

#check-in-btn {

	background-color: #6F6;
	border-color: #1E1;
	height: 40px;
	width: 140px;
	text-align: center;
	border-width:5px;

}

.black-border {
	border-width: 5px;
	border-color: #FFF;
}

.seat-button {
	background-color:#AAF;
	font-size: 13px;
	margin-top:3vh;
	border-color: #00E;
	border-width: 15px;
	border-collapse: collapse;
	width: 160px;
	height: 160px;
}

