.col-sm-5 {

	border-radius: 300px;
	border-width: 900px;
	border-color: #818a8f;
	margin-left: 40%;

}

body {margin: 10px;}

#calc-btn {

	text-align: center;
	margin-left: 45%;
	border-radius: 5px;
	background-color: #EEE;
	border-style: solid;
	border-color: #EEE;
	font-size: 30px;
}

.no {color: #F22;}
.maybe {color:#FF2;}
.yes {color: #2F2;}
